/.idea
/configs/.env
/node_modules
/dist
/.DS_Store
/.vscode
/npm-debug.log
/yarn-error.log
/.env
configs/Docker.env.dev
node_modules
/deploy/postgres_data
/frontend/dist
/frontend/build
*.exe
*.out
*.exe~
*.out~
/deploy/letsencrypt/
deploy/letsencrypt/*
deploy/postgres_data/
/docker/*
configs/Docker.env
