
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/vipnagorgialla');

:root {
    /* dark themne only for now */
  --orange-vivid: #FF8001;
  --paler-orange: #ff800181;
  --brownish: #763B01;
  --yellow-vivid: #F2BB05;
  --yellow-pale: #F0E9C9;
  --white-bg-text: #E5E5E5;
  --black-bg-text: #090909;
  --dark-grey-bg: #23211E;
  --grey-bg: #23211E;
  --light-grey-bg: #7676767b;
  --dark-grey-transparent: rgba(35, 33, 30, 0.8);

  /* status colours */
  --color-success: #2ECC71;
  --color-error: #E74C3C;
  --color-warning: #F39C12;

  /* gradients */
  --orange-ombre: linear-gradient(180deg, #FF8001 0%, #994D01 100%);
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS 1p', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Vipnagorgialla', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


header {
  position: fixed;
  top: 0;
  z-index: 10000;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  background-color: var(--dark-grey-transparent);
  padding: 0 2rem;
  backdrop-filter: blur(2px);
}

.logo-container {
  justify-self: start;
  display: flex;
  align-items: center;
  left: 1rem;
  height: 80%;
  width: 4rem;
  overflow: hidden;
}

/* navbar */
.navbar {
  justify-self: center;
  display: flex;
  gap: clamp(0.2rem, 4rem, 4rem);
  pointer-events: auto;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.navbarLink, .tab {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.5s ease;
}

.navbarLink:hover, .tab:hover {
    text-decoration: none;
  color: var(--orange-vivid);
  transform: translateY(-2px);
}